<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .center-text {
            text-align: center;


            .container {
                display: flex;
                justify-content: flex-start;
                border: 1px solid black;
                padding: 10px;
            }
            .item {
                width: 50px;
                height: 50px;
                background-color: lightblue;
                margin: 5px;
            }
        }

    </style>
</head>
<body>
<p> После скрипта ...</p>
<h1 class="center-text">Заголовок по центру</h1>
<p class="center-text">Этот абзац тоже будет по центру.</p>
<p> Перед скриптом ...</p>
<script>
    let message="Привет...."
    message = 12223+"варваяр"
    confirm(message);
</script>
<p> После скрипта ...</p>
text-align: center;
<div class="container">
    <div class="item">1</div>
    <div class="item">2</div>
    <div class="item">3</div>
</div>
</body>
</html>